# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Facultate\Semestrul 3\MAP (Metode avansate de programare)\A4 (Heap)\Interpreter _Heap_template3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
