<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="FirstTable" value="Players"/>
    <add key="SecondTable" value="Injuries"/>
    <add key="FirstTablePK" value="Pid"/>
    <add key="SecondTableFK" value="Pid"/>
    <add key="ForeignKey" value="FK__Injuries__Pid__77DFC722"/>
    <add key="SelectFirstTable" value ="Select * from Players"/>
    <add key="SelectSecondTable" value ="Select * from Injuries"/>
  </appSettings>
  
</configuration>