div {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
}

div:hover {
    animation-name: example;
    animation-duration: 15s;
}

@keyframes example {
    from  {background-color:blue; top:0px; left:0%;}
    to  {background-color:red; left:95%; top: 825px;}
}